.info {
  max-width: 460px;
  &__text {
    padding: 0 30px 20px 15px;
  }
  &__btn {
    margin: 0 15px 50px 15px;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    background-color: $tr;
    border: none;
    cursor: pointer;

    &:hover {
      transform: none;
      box-shadow: none;
    }

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      width: 10px;
      height: 12px;
      transform: scale(1);
      transition: transform 0.2s ease-in-out;
      background: url(../img/Line.svg) no-repeat $tr;
    }
    &:hover::after {
      filter: drop-shadow(0px 0px 6px $colorShadow);
      transform: scale(1.3);
    }
  }
}
